@use "../vars/forwarder" as *;

.btn {
  cursor: pointer;
  border-radius: $rounded-border-radius;
  padding: 0.6rem 2rem;
  font-size: 0.9rem;
  text-decoration: none;
  font-family: $montserrat;
  font-weight: 700;
  background: var(--body-bg);
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: .3rem;
  transition: $st-transition;

  &.showIconOnSmallScreen {
    svg {
      display: none;
    }
  }

  &.active {
    background-color: var(--primary-color);
    color: var(--secondary-text);

    @media (prefers-color-scheme: dark) {
      color: var(--body-bg);
    }
  }

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text);

    @media (prefers-color-scheme: dark) {
      color: var(--body-bg) !important;
    }
  

    &.active {
      background-color: var(--body-bg);
      color: var(--primary-color) !important;
    }
  }

  @media screen and (max-width: 584px) {
    
    font-size: .8rem ;
    padding: .7rem 1rem;
    
    &.showIconOnSmallScreen {
      svg {
        display: inline-block;
      }
    }

    &.hideTextOnSmallScreen {
      &.active {
        span {
          display: inline-block;
        }
      }
      span {
        display: none;
      }
    }
    
  }
    @media screen and (max-width: 450px) {
    padding: .5rem .8rem;
  }
}
