@use "../vars/forwarder" as *;

.btn {
  cursor: pointer;
  border-radius: $rounded-border-radius;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  text-decoration: none;
  font-family: $montserrat;
  font-weight: 700;
  background: $body-bg;
  color: $primary-text;

  &.active {
    background-color: $primary-color;
    color: $secondary-text;
  }
}
