@use "../vars/forwarder" as *;

.chatBot {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem 3rem;
  z-index: 1111;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  gap: 1rem;


  &.active {
    width: 100%;
    height: 100vh;
    z-index: 1111;
    .chatContainer {
      display: flex;
    }
  }

  .chatContainer {
    width: 350px;
    min-height: 500px;
    max-height: 500px;
    background: $surface-color;
    border-radius: $st-border-radius;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 1.5rem 1rem;
    display: none;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .resetBtn {
      place-self: center;
      padding: .5rem 1.1rem;
      font-size: .8rem;
      margin-top: .5rem;

      &:hover {
        background: $primary-color;
        color: $secondary-text;
      }
    }

    .closeBtn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      border: none;
      background: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $primary-color;
    }

    .chatHeader {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #e0e0e0;

      .chatBotImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $surface-color;
        border: 1px solid #e0e0e0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      div {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        h3 {
          font-size: 1rem;
          font-family: $montserrat;
        }

        p {
          font-size: 0.7rem;
          color: $muted-text;

          &::before {
            width: 5px;
            height: 5px;
            background: $green;
            border-radius: 50%;
            content: "";
            display: inline-block;
            margin-right: 0.3rem;
            transform: translateY(-1px);
          }
        }
      }
    }

    .chatForm {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      padding-top: 0.5rem;

      input {
        background: none;
        border: none;
        padding: 0.7rem 1rem;
        font-family: $montserrat;
        font-size: 0.9rem;
        color: $primary-text;
        outline: none;
        background: $surface-color;
        border: 1px solid #e0e0e0;
        border-radius: $rounded-border-radius;
        width: 100%;

        &::placeholder {
          color: $muted-text;
        }
      }

      button {
        border: none;
        background: $body-bg;
        cursor: pointer;
        font-size: 1rem;
        color: $primary-color;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $st-transition;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          background: $surface-color;
          color: $primary-text;
        }

        &:hover {
          background: $primary-color;
          color: $secondary-text;
        }
      }
    }

    .chatMessagesContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      overflow-y: auto;
      gap: 1rem;
      padding: 1rem 0.5rem 0 0;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
      }

      .chatMessage {
        display: flex;
        align-items: start;
        gap: 0.5rem;
        width: 100%;

        &.bot {
          justify-content: start;
        }

        &.user {
          justify-content: end;

          .chatMessageCard {
            background: $primary-color;

            p {
              color: $body-bg;
            }
          }
        }

        .chatMessageCard {
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column;
          gap: 0.5rem;
          background: $body-bg;
          padding: 0.7rem 1rem;
          border-radius: $st-border-radius;
          border: 1px solid $border-color;
          max-width: 90%;
          min-width: 50%;

          .chatMessageContent {
            font-size: 0.8rem;
            color: $primary-text;

            ul {
              list-style-type: disc;
              margin-left: 1rem;
            }
          }

          span {
            font-size: 0.6rem;
            color: $muted-text;

            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
          }
        }
      }
    }
  }


  .chatBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    p {
      font-size: 1rem;
      color: $muted-text;
    }
  }

  .chatBtn {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background: $surface-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    position: relative;

    &.active {
      &::after {
        content: "1";
        position: absolute;
        top: 0;
        right: 0;
        background: #ff4250;
        color: $secondary-text;
        font-family: $montserrat;
        font-weight: 700;
        font-size: .8rem;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    img {
      width: 50px;
      height: auto;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 810px) {
    padding: 2rem;

    .chatBtn {
      min-width: 50px;
      min-height: 50px;

      img {
        width: 30px;
        height: auto;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 400px) {
    &.active {
      padding: 0;
      
      .chatBtnContainer {
        display: none;
      }
    }
    .chatContainer {
      width: 100%;
      min-height: 100dvh;
      max-height: 100dvh;
      min-width: 100%;
      border-radius: 0;
    }
  }
}
