@use "../vars/forwarder" as *;

.chatBot {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem 3rem;
  z-index: 1100;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  // width: 100%;
  // height: 100vh;
  // background: rgba(0, 0, 0, 0.5);

  &.active {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    .chatContainer {
      display: flex;
    }
  }

  .chatContainer {
    width: 350px;
    height: 100%;
    background: $surface-color;
    border-radius: $st-border-radius;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    display: none;
    position: relative;

    .closeBtn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      border: none;
      background: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $primary-color;
    }

    .chatHeader {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #e0e0e0;

      .chatBotImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $surface-color;
        border: 1px solid #e0e0e0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      div {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        h3 {
          font-size: 1rem;
          font-family: $montserrat;
        }

        p {
          font-size: 0.7rem;
          color: $muted-text;
        }
      }
    }

    .chatForm {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;

      input {
        background: none;
        border: none;
        padding: 0.7rem 1rem;
        font-family: $montserrat;
        font-size: 0.9rem;
        color: $primary-text;
        outline: none;
        background: $surface-color;
        border: 1px solid #e0e0e0;
        border-radius: $rounded-border-radius;
        width: 100%;

        &::placeholder {
          color: $muted-text;
        }
      }

      button {
        border: none;
        background: $body-bg;
        cursor: pointer;
        font-size: 1rem;
        color: $primary-color;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          background: $surface-color;
          color: $primary-text;
        }
      }
    }

    .chatMessagesContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      overflow-y: auto;
      gap: 1rem;

      .chatMessage {
        display: flex;
        align-items: start;
        gap: 0.5rem;
        width: 100%;

        &.bot {
          justify-content: start;
        }

        &.user {
          justify-content: end;

          .chatMessageCard {
            background: $primary-color;

            p {
              color: $body-bg;
            }
          }
        }

        .chatMessageCard {
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column;
          gap: 0.5rem;
          background: $body-bg;
          padding: 1rem;
          border-radius: $st-border-radius;
          border: 1px solid #e0e0e0;
          max-width: 70%;

          p {
            font-size: 0.8rem;
            color: $primary-text;
          }

          span {
            font-size: 0.6rem;
            color: $muted-text;

            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
          }
        }
      }
    }
  }

  .chatBtn {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background: $surface-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #e0e0e0;
  }
}
