@use "../vars/forwarder" as *;

.schoolDetails {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: flex;
    z-index: 1110;
  }

  .backBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    color: $secondary-text;
  }

  .schoolDetailsContainer {
    width: 80%;
    height: 90%;
    background: $surface-color;
    border-radius: $st-border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 2.5rem;

    .schoolDetailsContent {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 2rem;
      margin-bottom: 2rem;

      .schoolDetailsImage {
        min-width: 40%;
        max-width: 40%;
        min-height: 220px;
        max-height: 220px;
        border-radius: $st-border-radius;
        overflow: hidden;
        background-color: $surface-color;
        border: 1px solid #e0e0e0;

        img {
          width: 100%;
          min-height: 220px;
          object-fit: cover;
        }
      }

      .schoolDetailsInfo {
        .starRating {
          svg {
            font-size: 1.2rem;
          }

          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2rem;
          font-family: $montserrat;
        }

        p {
          font-size: 0.9rem;
          color: $muted-text;
        }

        .buttons {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1rem;
          margin-top: 1rem;
        }
      }
    }

    .bottomContainer {
      display: flex;
      justify-content: start;
      align-items: start;
      width: 100%;
      gap: 2rem;
    }

    .infoBox {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 0.5rem;
      max-width: 50%;

      header {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
      }
      h3 {
        font-size: 1.1rem;
        font-family: $montserrat;
      }

      p {
        font-size: 1rem;
        color: $muted-text;
      }
    }

    .reviewsContainer {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;

      .review {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 1rem;
          margin-top: 2rem;
        }

        &:nth-child(1) {
          margin-top: 0;
        }

        &:last-child {
          margin: 2rem 0;
        }

        > p {
          font-size: 0.8rem;
          color: $muted-text;
        }

        > span {
          font-size: 0.6rem;
          color: $muted-text;
          text-align: end;
          width: 100%;
          font-weight: 700;
          font-family: $montserrat;
        }

        .reviewCreator {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $surface-color;
            border: 1px solid #e0e0e0;
          }

          .reviewCreatorInfo {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;

            h4 {
              font-size: 1rem;
              font-family: $montserrat;
            }

            p {
              font-size: 0.6rem;
              color: $muted-text;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 950px) {
    .schoolDetailsContainer {
      .schoolDetailsContent {
        flex-direction: column;

        .schoolDetailsImage {
          min-height: 300px;
          max-height: 300px;
          min-width: 100%;
          max-width: 100%;
        }

        .schoolDetailsInfo {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .schoolDetailsContainer {
      .schoolDetailsContent {
        .schoolDetailsImage {
          min-height: 250px;
          max-height: 250px;
        }

        .schoolDetailsInfo {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }

      .bottomContainer {
        flex-direction: column;
        gap: 2rem;
      }

      .infoBox {
        max-width: 100%;
      }
    }
  }

  @media screen and (max-width: 650px) {

    .backBtn {
      color: $primary-color;
    }

    .schoolDetailsContainer {
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      padding-top: 5rem;

      .schoolDetailsContent {
        .schoolDetailsImage {
          min-height: 250px;
          max-height: 250px;
        }

        .schoolDetailsInfo {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }

      .bottomContainer {
        flex-direction: column;
        gap: 2rem;
      }

      .infoBox {
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: 450px) {

    .backBtn {
      color: $primary-color;
    }

    .schoolDetailsContainer {
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      padding-top: 5rem;

      .schoolDetailsContent {
        .schoolDetailsImage {
          min-height: 200px;
          max-height: 200px;
        }

        .schoolDetailsInfo {
          .starRating {
          svg {
            font-size: 1rem;
          }

          margin-bottom: .5rem;
        }
          h2 {
            font-size: 1.3rem;
          }

          p {
            font-size: 0.7rem;
            margin-top: .3rem;
          }
        }
      }

      .bottomContainer {
        flex-direction: column;
        gap: 2rem;
      }

      .infoBox {
        max-width: 100%;
      }
    }
  }
}
