@use "../vars/forwarder" as *;

.searchBarHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2rem;


  .headerAndFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid $border-color;
      border-radius: 50%;
      background-color: $surface-color;
      font-size: 1.2rem;
      display: none;
    }
  }

  h2 {
    font-size: 1.2rem;
  }



  .searchForm {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0 0 0 1.5rem;
    background: $surface-color;
    border: 1px solid #e0e0e0;
    border-radius: $rounded-border-radius;
    min-width: 30%;

    svg {
      color: $muted-text;
    }
    input {
      background: none;
      border: none;
      padding: 1rem;
      font-family: $montserrat;
      font-size: 0.9rem;
      color: $primary-text;
      outline: none;

      &::placeholder {
        color: $muted-text;
      }
    }
  }

  @media screen and (max-width: 850px) {
    flex-direction: column-reverse;
    align-items: start;
    gap: 1rem;

    .searchForm {
      width: 100%;
    }
  }

  @media screen and (max-width: 750px) {
    .headerAndFilters {
      width: 100%;

      button {
        display: flex;

      }
    }
  }

  @media screen and (max-width: 584px) {
    h2 {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 410px) {
    gap: .5rem;
    h2 {
      font-size: .8rem;
    }
  }
}
