@use "../vars/forwarder" as *;

.sidebar {
  width: 25%;
  min-height: 100%;
  z-index: 1110;
  padding: 3rem 0rem 2rem 3rem;

  .closeBtn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;

    svg {
      color: var(--muted-text);
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  .filtersContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    width: 100%;

    .filterField {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 0.1rem;

      .overviewField {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;

        input {
          text-align: center;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;

          color: var(--muted-text);
          font-size: 1.2rem;
        }
      }

      label {
        font-size: 0.9rem;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 0.7rem 1rem;
        font-family: $montserrat;
        background: none;
        border: 1px solid var(--border-color);
        border-radius: $st-border-radius;
        outline: none;
        color: var(--primary-text);
        background-color: var(--surface-color);

        &::placeholder {
          color: var(--muted-text);
        }
      }

      select {
        width: 100%;
        padding: 0.7rem 1rem;
        font-family: $montserrat;
        background: none;
        border: 1px solid var(--border-color);
        border-radius: $st-border-radius;
        color: var(--primary-text);
        outline: none;
        background-color: var(--surface-color);
        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--tint-color);
        }
        option {
          color: var(--primary-text);
        }
      }
    }
  }

  @media screen and (max-width: 810px) {
    padding: 3rem 2rem;
  }

  @media screen and (max-width: 750px) {
    position: fixed;
    background: var(--surface-color);
    padding-right: 2rem;
    border-right: 1px solid var(--border-color);
    width: 55%;
    display: none;

    &.active {
      display: block;
    }

    .closeBtn {
      display: block;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
