@use "../vars/forwarder" as *;

.aboutPage {
  h1 {
    font-family: $montserrat;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;

    .aboutContent {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 1rem;
      width: 60%;

      p {
        font-size: .9rem;
        color: $muted-text;
      }
    }

    .aboutImage {
      width: 35%;
      background: $surface-color;
      border-radius: $st-border-radius;
      border: 1px solid #e0e0e0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      padding: 3rem;

      img {
        width: 200px;
        height: auto;
        object-fit: cover;
      }

      h2 {
        font-size: 2rem;
        color: $primary-text;
        font-weight: 600;
      }
    }
  }


  @media screen and (max-width: 980px) {


    h1 {
      font-size: 2rem;
    }

    .aboutContainer {
      flex-direction: column;
      gap: 2rem;

      .aboutContent {
        width: 100%;

        p {
          font-size: .8rem;
        }
      }

      .aboutImage {
        width: 100%;
      }
    }
    
  }
}
