@use "./vars/forwarder" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $poppins;
  background-color: $body-bg;
  color: $primary-text;
  font-size: 20px;

  &.overflowHidden {
    overflow: hidden;
  }
}

[lang="ar"] body {
  font-family: $noto;
}

.starRating {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;

  svg {
    color: gold;
    font-size: 0.8rem;
  }
}
.padding {
  padding: 2rem 3rem;

  @media screen and (max-width: 810px) {
    padding: 2rem;
  }
}
.margin {
  margin: $nav-height 0;
}

.footer {
  padding: 2rem 3rem;
  background-color: $surface-color;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: start;
  align-items: start;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  p {
    font-size: 0.8rem;
    color: $muted-text;
    font-family: $montserrat;
  }
}

.loader {
  width: 28px;
  height: 28px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #00aeff transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1110 !important;

  .loader {
    width: 48px !important;
    height: 48px !important;

    &::after {
      width: 40px !important;
      height: 40px !important;
    }
  }
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid $primary-color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 500px;

  canvas {
    min-width: 250px !important;
    height: 300px !important;
    place-self: center;
  }
  p {
    font-size: 1.2rem;
    color: $muted-text;
    font-family: $montserrat;
    
  }

  .btn {
    margin-top: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
