@use "./vars/forwarder" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $poppins;
  background-color: $body-bg;
  color: $primary-text;
  font-size: 20px;

  &.overflowHidden {
    overflow: hidden;
  }
}

[lang="ar"] body {
  font-family: $noto;
}

.starRating {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;

  svg {
    color: gold;
    font-size: 0.8rem;
  }
}

.margin {
  margin: $nav-height 0;
}

.footer {
  padding: 2rem 3rem;
  background-color: $surface-color;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: start;
  align-items: start;
  flex-direction: column;
  position: relative;
  z-index: 1100;
  p {
    font-size: .8rem;
    color: $muted-text;
    font-family: $montserrat;
  }
}
